NET "CLK" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "RST_BTN" LOC = K17 | PULLDOWN;

NET "VGA_R" LOC = H14 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_G" LOC = H15 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_B" LOC = G15 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_HS_O" LOC = F15 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "VGA_VS_O" LOC = F14 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;